<?xml version='1.0' encoding='utf-8'?>
<widget id="org.t2.navymsc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Navy MSC</name>
    <description>
        Navy MSC
    </description>
    <author email="dave.coleman@tee2.org" href="http://tee2.org">
        T2
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="mailto:*" />
    <access launch-external="yes" origin="http://www.navy.mil/*" />
    <access launch-external="yes" origin="https://www.navy.mil/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <platform name="android">
        <icon src="res/icon/android/icon-96-xhdpi.png" />
        <allow-intent href="market:*" />
        <feature name="SplashScreen">
            <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
            <param name="onload" value="true" />
        </feature>
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <icon height="29" src="res/icon/ios/Navy-MSC-App-Icon-iOS-29.png" width="29" />
        <icon height="40" src="res/icon/ios/Navy-MSC-App-Icon-iOS-40.png" width="40" />
        <icon height="50" src="res/icon/ios/Navy-MSC-App-Icon-iOS-50.png" width="50" />
        <icon height="57" src="res/icon/ios/Navy-MSC-App-Icon-iOS-57.png" width="57" />
        <icon height="58" src="res/icon/ios/Navy-MSC-App-Icon-iOS-58.png" width="58" />
        <icon height="72" src="res/icon/ios/Navy-MSC-App-Icon-iOS-72.png" width="72" />
        <icon height="76" src="res/icon/ios/Navy-MSC-App-Icon-iOS-76.png" width="76" />
        <icon height="80" src="res/icon/ios/Navy-MSC-App-Icon-iOS-80.png" width="80" />
        <icon height="87" src="res/icon/ios/Navy-MSC-App-Icon-iOS-87.png" width="87" />
        <icon height="100" src="res/icon/ios/Navy-MSC-App-Icon-iOS-100.png" width="100" />
        <icon height="114" src="res/icon/ios/Navy-MSC-App-Icon-iOS-114.png" width="114" />
        <icon height="120" src="res/icon/ios/Navy-MSC-App-Icon-iOS-120.png" width="120" />
        <icon height="144" src="res/icon/ios/Navy-MSC-App-Icon-iOS-144.png" width="144" />
        <icon height="152" src="res/icon/ios/Navy-MSC-App-Icon-iOS-152.png" width="152" />
        <icon height="167" src="res/icon/ios/Navy-MSC-App-Icon-iOS-167.png" width="167" />
        <icon height="180" src="res/icon/ios/Navy-MSC-App-Icon-iOS-180.png" width="180" />
        <splash height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
        <splash height="2048" src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536" />
        <splash height="2732" src="res/screen/ios/Default@2x~universal~anyany.png" width="2732" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-open-native-settings" spec="^1.4.1" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-fetch" spec="git+https://github.com/aporat/cordova-plugin-fetch.git" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-sqlite-storage" spec="^2.0.4" />
</widget>
